/* globals.css */

button {
  border: none;
  background: none;
  font-size: 1.2rem; /* Adjust size as needed */
  cursor: pointer;
}


.legend-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem; /* Adjust spacing between elements */
    width: 100%;
}

.legend {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: Arial, Helvetica, sans-serif;
}

@media (min-width: 1200px) {
  .col-xl-1-5 {
    flex: 0 0 12.5%; /* 12.5% width = 1.5 columns */
    max-width: 12.5%;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Optional Column Layout */
.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* 8 equal columns */
  gap: 16px;
  padding: 1rem;
}

/* Column specific styles */
.column {
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.column:nth-child(odd) {
  background-color: #f0f0f0;
}

.column:nth-child(even) {
  background-color: #e0e0e0;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; /* Stack columns on smaller screens */
  }
}
